*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(8 47 73);
    color: white;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;
    height: 60px;
    box-sizing: border-box;
    background-color: rgb(55 48 163);
}
nav ul{display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    
}
nav li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: white;
}
nav ul a:hover{
    color: cyan;
}
.name{
    width: 40%;
}
.pages{width: 60%;}
nav .name{
    margin: 0px 100px;
    font-size: 24px;
}
.firstsec{
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
    
}
.firstsec div{
    width: 30%;
}
.left{
    font-size: 34px;
    margin: 110px 0px;
    line-height: 45px;
   
}
#element{
    color: cyan;
}
.secondsec{
    height: 400px;
    width: 100%;
    box-sizing: border-box;
}
.Work{
    font-size: 25px;
    margin-top: -20px;
    padding-left: 130px;
}
.secondsec hr{
    margin: 40px 80px; 
}
.Work span{
    font-size: 14px;
}
.box{
    border-top: 1px solid white;
    height: 200px;
    display: flex;
    width: 93%;
    box-sizing: border-box;
  
}
.box img{
    margin-top: 40px;
}
.box .vertical{
    height: 90px;
    width: 1px;
    background-color: white;
    margin: 0px 75px;          
}
.footer{
    display: flex;
    height: 100px;
    color: white;
    font-weight: bold;
    background-color: rgb(29, 6, 38);
    align-items: center;
    justify-content: center;
}